
.container{
    display: grid;
    width: 900px;
    height: 600px;
    background-color: aqua;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
    
}

div{

    height: 100%;
    width: 100%;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 30px;
    border: solid 2px black;
}